body {
    background-color: #233;
    color: #3C3C3C;
}
.version {
    background-color: #344;
    border: 0.2% solid #bcc;
    color: #eff;
}
button {
    background-color: #535353;
    color: white;
}
button:hover {
    background-color: #45a049;
}
input[type="number"],
select,
input[type="text"] {
    border: 1px solid #666;
    background-color: #FFFFFF1A;
    color: #ebebeb;
}
input[type="number"]:focus,
select:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #b9b9b98c;
}
select {
    border: 1px solid #666;
    background-color: #FFFFFF1A;
    color: #ebebeb;
}
select:focus {
    outline: none;
    border-color: #4242428c;
}
select option {
    background-color: #444;
    color: #ebebeb;
}

button.enabled {
    background-color: green;
    color: white;
}
button.disabled {
    background-color: red;
    color: white;
}
.box {
    background-color: #344;
    border: 1px solid #666;
    color: white;
}
.box.color-list-box {
    padding: 1%;
    width: calc(75% - 24% - 2%);
}
.image-container {
    background-color: #344;
    border: 1px solid #666;
    color: white;
}
