body {
    background-color: #233;
    color: rgb(49, 60, 60);
    padding: 2.5%;
}
.hits-link {
    position: fixed;
    top: 70px; 
    right: 6px;
    z-index: 999;
    width: 120px
}
.version {
    position: fixed;
    top: 1.3%;
    right: 1.3%;
    background-color: #344;
    padding: 0.9% 1.1%;
    border: 0.2% solid #bcc;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-size: 27px;
    color: #eff;
}
img {
    display: block;
    margin: 0;
    width: 57%;
    height: auto;
    object-fit: cover;
    image-rendering: pixelated;
}
button {
    margin: 5px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: #535353;
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-family: "roboto", sans-serif;
}
button:hover {
    background-color: #45a049;
}
input[type="number"],
select {
    margin-bottom: 10px;
}
input[type="number"],
select,
input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ebebeb;
}
input[type="number"]:focus,
select:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #b9b9b98c;
}
select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ebebeb;
}
select:focus {
    outline: none;
    border-color: #4242428c;
}
select option {
    background-color: #444;
    color: #ebebeb;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
button.enabled {
    background-color: green;
    color: white;
}
button.disabled {
    background-color: red;
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
h3 {
    margin-top: 0;
    font-family: "Bahnschrift", sans-serif;
}
h4 {
    font-family: "Futura", sans-serif;
}
li button {
   height: 20px;
   padding: 2px 5px;
   margin: 3px;
}
.box {
    background-color: #344;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #666;
    color: white;
    width: calc((75% - 7%) / 3);
}
.box.color-list-box {
    padding: 1%;
    width: calc(75% - 24% - 2%);
}
.image-container {
    display: flex;
    align-items: flex-start;
    background-color: #344;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #666;
    color: white;
    width: 75%;
}
#colorList li {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}
#colorList canvas {
    border-radius: 5px;
    margin-right: 4px;
}
